<!doctype html>
<html lang="en">
	
	<head>

		<meta charset="utf-8">
		<title>8tab</title>
	
		<link rel="stylesheet" href="./css/reset.css?v=2">
		<link rel="stylesheet" href="./css/style.css?v=2">
		<link rel="stylesheet" href="./css/lib/smoothness/jquery-ui-1.8.11.custom.css?v=2">
		
		<link rel="stylesheet" href="./css/views/songs.css?v=2">
		<link rel="stylesheet" href="./css/views/player.css?v=2">

	</head>

	<body id="player">

		<header class="clearfix">

			<ul id="controls" class="clearfix">
				<li><a class="prev" data-icon="ui-icon-seek-prev">Prev</a></li>
				<li><a class="next" data-icon="ui-icon-seek-next">Next</a></li>
				<li id="volume"></li>
			</ul>
			
			<audio id="audio" controls></audio>
			
			<input id="uploader" type="file" webkitdirectory directory multiple mozdirectory />

		</header>

		<table id="songs">
			<thead>
				<tr>
					<th></th>
					<th>Artist</th>
					<th>Title</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

		<script type="text/html" id="song_view_template">
			<td class="playing ui-icon"></td>
			<td><%= Artist %></td>
			<td><%= Title %></td>
		</script>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>

		<!-- utils -->
		<script src="./js/utils/log.js"></script>
		
		<!-- lib -->
		<script src="./js/lib/underscore.min.js"></script>
		<script src="./js/lib/backbone.min.js"></script>
		<script src="./js/lib/id3v2.js"></script>
		<script src="./js/lib/microevent.js"></script>
		
		<!-- views / models -->
		<script src="./js/models/song.js"></script>
		<script src="./js/models/songs.js"></script>
		<script src="./js/views/song.js"></script>
		<script src="./js/views/songs.js"></script>
		<script src="./js/views/player.js"></script>
		<script src="./js/views/plugin.js"></script>
		
		<!-- init -->
		<script src="./js/brain.js"></script>

	</body>

</html>